:root {
    --color1: #89A8B2;
    --color2: #B3C8CF;
    --color3: #E5E1DA;
    --color4: #F1F0E8;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color2);
    
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color1);
    width: 100%;
    padding: 3px;
    height: 60px;
}

.header-img {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding-left: 20px;
}

.header-img p {
    font-size: 1.3rem;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    font-family:Arial, Helvetica, sans-serif;

}

.nav-logo {
    width: 50px;
}

main {
    margin-top: 60px;
}

.hero-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 5px auto;
}

h1, .hero-subtitle {
    font-family: "Elsie", serif;
    color: rgb(26, 56, 72);
}

h1 {
    font-size: 2em;
}

.hero-subtitle {
    font-size: 1.3em;
    text-align: center;
    font-weight: 500;
}

.hero-img {
    width: 40%;
    min-width: 250px;
}

.space-title, .services-title, .video-title {
    font-family: "Elsie", serif;
    color: rgb(13, 38, 60);
    font-size: 1.8em;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}


.spaces-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
}

.spaces-imgs img {
    margin: 0 auto;
}

.services-container {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr;
    margin: 20px auto 20px auto;
}

.services-container img {
    width: 40%;
    max-width: 80px;
    margin-left: 15px;
}

.service-container {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.video-section {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.video {
    width: 90%;
}

footer {
    width: 60%;
    margin: 30px auto 0 auto;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px;
}

footer p {
    line-height: normal;
    margin-top: 5px;
}

footer span {
    margin-right: 10px;
}
    
@media (max-width: 650px) {
    .spaces-section {
        margin-bottom: 100px;
    }
    .spaces-imgs {
        grid-template-columns: 1fr;
    }
      
}